In [2]:
import pandas as pd
import os

In [3]:
file1 = os.path.join('csv','JC-201901-citibike-tripdata.csv')

In [4]:
file2 = os.path.join("csv","JC-201902-citibike-tripdata.csv")

In [5]:
file3 = os.path.join("csv","JC-201903-citibike-tripdata.csv")

In [6]:
file4 = os.path.join("csv","JC-201904-citibike-tripdata.csv")

In [7]:
file5 = os.path.join("csv","JC-201905-citibike-tripdata.csv")

In [8]:
file6 = os.path.join("csv","JC-201906-citibike-tripdata.csv")

In [9]:
df1 = pd.read_csv(file1)

In [10]:
df2 = pd.read_csv(file2)

In [11]:
df3 = pd.read_csv(file3)

In [12]:
df4 = pd.read_csv(file4)

In [13]:
df5 = pd.read_csv(file5)

In [14]:
df6 = pd.read_csv(file6)

In [15]:
df = pd.concat([df1,df2,df3,df4,df5,df6])

In [16]:
df.head(10)

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,201,2019-01-01 03:09:09.7110,2019-01-01 03:12:30.8790,3183,Exchange Place,40.716247,-74.033459,3214,Essex Light Rail,40.712774,-74.036486,29612,Subscriber,1993,1
1,505,2019-01-01 05:18:00.1060,2019-01-01 05:26:25.9050,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29213,Subscriber,1972,2
2,756,2019-01-01 10:36:33.3400,2019-01-01 10:49:10.2600,3183,Exchange Place,40.716247,-74.033459,3192,Liberty Light Rail,40.711242,-74.055701,26164,Subscriber,1985,1
3,1575,2019-01-01 12:43:38.6430,2019-01-01 13:09:54.5280,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29672,Customer,1969,0
4,1566,2019-01-01 12:43:39.6010,2019-01-01 13:09:46.5100,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29522,Customer,1969,0
5,737,2019-01-01 12:56:53.2040,2019-01-01 13:09:11.0400,3183,Exchange Place,40.716247,-74.033459,3205,JC Medical Center,40.716540,-74.049638,29447,Subscriber,1993,1
6,917,2019-01-01 13:03:44.7760,2019-01-01 13:19:02.7690,3183,Exchange Place,40.716247,-74.033459,3277,Communipaw & Berry Lane,40.714358,-74.066611,29299,Subscriber,1986,1
7,3248,2019-01-01 13:12:03.1280,2019-01-01 14:06:12.0400,3183,Exchange Place,40.716247,-74.033459,3196,Riverview Park,40.744319,-74.043991,29495,Subscriber,1992,1
8,3168,2019-01-01 13:13:12.0450,2019-01-01 14:06:00.4110,3183,Exchange Place,40.716247,-74.033459,3196,Riverview Park,40.744319,-74.043991,26312,Customer,1969,0
9,353,2019-01-01 17:07:44.6670,2019-01-01 17:13:38.2640,3183,Exchange Place,40.716247,-74.033459,3202,Newport PATH,40.727224,-74.033759,26212,Subscriber,1994,1

In [17]:
df.count()

tripduration               170468
starttime                  170468
stoptime                   170468
start station id           170468
start station name         170468
start station latitude     170468
start station longitude    170468
end station id             170468
end station name           170468
end station latitude       170468
end station longitude      170468
bikeid                     170468
usertype                   170468
birth year                 170468
gender                     170468
dtype: int64

In [18]:
# df.to_csv('csv/citibikedata.csv',index=False,header=True)

In [19]:
df['gender'].value_counts()

1    124066
2     36166
0     10236
Name: gender, dtype: int64

In [20]:
df['Gender'] = df['gender'].replace([0,1,2],['Unknown','Male','Female'])

In [21]:
df['Gender'].value_counts()

Male       124066
Female      36166
Unknown     10236
Name: Gender, dtype: int64

In [22]:
df.columns

Index(['tripduration', 'starttime', 'stoptime', 'start station id',
       'start station name', 'start station latitude',
       'start station longitude', 'end station id', 'end station name',
       'end station latitude', 'end station longitude', 'bikeid', 'usertype',
       'birth year', 'gender', 'Gender'],
      dtype='object')

In [23]:
del df['gender']

In [24]:
df.columns

Index(['tripduration', 'starttime', 'stoptime', 'start station id',
       'start station name', 'start station latitude',
       'start station longitude', 'end station id', 'end station name',
       'end station latitude', 'end station longitude', 'bikeid', 'usertype',
       'birth year', 'Gender'],
      dtype='object')

In [25]:
df.head(5)

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,Gender
0,201,2019-01-01 03:09:09.7110,2019-01-01 03:12:30.8790,3183,Exchange Place,40.716247,-74.033459,3214,Essex Light Rail,40.712774,-74.036486,29612,Subscriber,1993,Male
1,505,2019-01-01 05:18:00.1060,2019-01-01 05:26:25.9050,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29213,Subscriber,1972,Female
2,756,2019-01-01 10:36:33.3400,2019-01-01 10:49:10.2600,3183,Exchange Place,40.716247,-74.033459,3192,Liberty Light Rail,40.711242,-74.055701,26164,Subscriber,1985,Male
3,1575,2019-01-01 12:43:38.6430,2019-01-01 13:09:54.5280,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29672,Customer,1969,Unknown
4,1566,2019-01-01 12:43:39.6010,2019-01-01 13:09:46.5100,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29522,Customer,1969,Unknown

In [26]:
df['age'] = 2019-df['birth year']

In [27]:
df.head(5)

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,Gender,age
0,201,2019-01-01 03:09:09.7110,2019-01-01 03:12:30.8790,3183,Exchange Place,40.716247,-74.033459,3214,Essex Light Rail,40.712774,-74.036486,29612,Subscriber,1993,Male,26
1,505,2019-01-01 05:18:00.1060,2019-01-01 05:26:25.9050,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29213,Subscriber,1972,Female,47
2,756,2019-01-01 10:36:33.3400,2019-01-01 10:49:10.2600,3183,Exchange Place,40.716247,-74.033459,3192,Liberty Light Rail,40.711242,-74.055701,26164,Subscriber,1985,Male,34
3,1575,2019-01-01 12:43:38.6430,2019-01-01 13:09:54.5280,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29672,Customer,1969,Unknown,50
4,1566,2019-01-01 12:43:39.6010,2019-01-01 13:09:46.5100,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29522,Customer,1969,Unknown,50

In [30]:
df.to_csv('csv/citibikedata.csv',index=False,header=True)